# # Este é um arquivo de exemplo. Crie um arquivo .env.local com suas variáveis de ambiente

# # MongoDB Atlas Connection String
# # Formato: mongodb+srv://usuario:senha@cluster0.xxxxx.mongodb.net/nome_db?retryWrites=true&w=majority
# DATABASE_URL="mongodb+srv:"
# # Environment
# NODE_ENV="development"
